@model web1.Models.NhaSanXuat_ID

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có chắc là muốn xóa thông tin này chứ ?</h3>
<div>
    <h4>NhaSanXuat_ID</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenNhaSanXuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNhaSanXuat)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" />
            @Html.ActionLink("Trở về danh sách", "Index")
        </div>
    }
</div>
