@{
    ViewBag.Title = "Liên hệ";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    
    website bán máy tính Gearmaster<br />
    234 Hoàng Quốc Việt , Bắc Từ Liêm , Hà Nội<br />
    <abbr title="Phone"></abbr>
    033 567 0934
</address>

<address>
    <strong>Support and Marketing :</strong>   <a href="mailto:Buichibao1011@gmail.com">Buichibao1011@gmail.com</a><br />
</address>